{% extends 'base.html' %}

{% block content %}
<section class="bg-dark text-light text-center shadow">
    <div class="container p-5 bg-dark">
        <div class="row">
            <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
                <h1 class="col text-center"><br><title>Pokédex</title>
                </h1>
            </div>
        </div>
    </div>
</section>
<h1 class="d-flex align-items-center justify-content-center">Welcome Trainer!!</h1>
<br>
<br>
<section class="bg-light text-center">
    <div class="container p-5">
        <div class="row">
            <div class="d-flex align-items-center justify-content-center">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.NmWiUd1s9AcOhDpwSKZSHAHaFO%26pid%3DApi&f=1"  alt="Pokemap", width="100",height="100">
            </div>
        </div>
        <div id="homeVideo">
            <video>
                <source src="/app/static/images/ezgif.com-gif-maker.mp4" type="video/mp4">
            </video>
            <div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
