{% extends 'base.html' %}







{% block content %}
<form class="container" method="Post">
  {{ form.hidden_tag()}} {{ form.name() }} {{ form.submit()}}
</form>
{% if pokemon %}
<div class="card" style="width: 18rem;">
  <img src="{{ pokemon.img_url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ pokemon.name }}</h5>
    <p class="card-text">
      <b>Ability: {{ pokemon.ability }} </b>
    <ul>
      <li>HP:{{pokemon.hp }}</li>
      <li>ATK:{{pokemon.attack }}</li>
      <li>DEF:{{pokemon.defense }}</li>
    </ul>
    </p>
  </div>
</div>

{% endif %}
{% endblock %}